body{
    background-image: url(./img/bg.jpg);
}
  
  .hand {
    width:8px;
    height:50px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 50% 100%;
    transition: all 0.05s;
  }
  .hour-hand {
    left: 300px;
    top: 527px;


  }
  
  .min-hand {
    left: 299px;
    top: 497px;
    height: 80px;
  }
  
  .second-hand {
    left: 300px;
    top: 480px;
    transform: translateY(-1px);
    height: 100px;
  }

  .ball{
    position: absolute;
    left: 290px;
    top:565px;
  }